/*----------------------------------------------------------------------------
IE7 CSS file for Mozilla Developer Network
Created by Craig Cook - focalcurve.com
        on 27 June, 2010
-----------------------------------------------------------------------------*/

.wrap, #nav, .type, #sections { zoom: 1; } /* I can hasLayout */
#nav-main li, #nav-extra li { display: inline-block; }
#site-search button { padding: 3px 3px; }
.module .gallery li { display: inline; }
#content-sub .heat-graph a b { margin-top: -1.25em; }
.entry-meta cite { font-style: normal; }
#content #glossary ul li { width: 90%; display: list-item; margin: 0 10px .5em 0; background: transparent url("../img/bullet-tiny.png") 0 .5em no-repeat; padding: 0 0 0 12px; border: 0; }
#sections { padding: 0 1.5%; margin: 0 -1.5%; }
#sections .mdn-section { width: 16.25%; }
