{% extends "base.html" %}

{% block pageid %}apps{% endblock %}

{% block bodyclass %}section-apps landing{% endblock %}

{% block title %}{{ page_title(_('Applications')) }}{% endblock %}

{% block content %}
<header id="section-head">
<div class="wrap">
    <p class="intro">Welcome to the Apps Developer Community:</p> 
    <h1 id="logo-apps" class="apps">Apps</h1>
    
    <div class="util">
      <p><strong>Are you ready to make browsing better?</strong></p>
      <ul>
        <li class="util-twitter"><a href="http://twitter.com/planetmozilla">Twitter</a></li>
        <li class="util-rss"><a href="http://blog.mozilla.com/about_mozilla/feed/">Subscribe</a></li>
        <li class="util-discuss"><a href="/forums/viewforum.php?f=6">Join the Apps discussions!</a></li>
      </ul>
    </div>
</div>
</header>

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">
  
    <section class="boxed">
      <div id="popular-docs">
        <header class="head">
          <img src="{{ MEDIA_URL }}img/icn-apps-med.png" alt="" width="58" height="58" />
          <h2>Popular <span class="apps">Applications</span> Documentation</h2>
        </header>
        
        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/En/Developer_Guide" rel="bookmark">Mozilla Developer Guide</a></h4>
            <p class="entry-summary">
              Whether you're an old hand or just getting started, this is the
              best way to get started with Mozilla development.
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/En/The_Mozilla_platform" rel="bookmark">The Mozilla Platform</a></h4>
            <p class="entry-summary">
              Learn more about the technologies at the core of Mozilla products
              and services.
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/En/Using_Mozilla_code_in_other_projects" rel="bookmark">Using Mozilla code in other projects</a></h4>
            <p class="entry-summary">
              There are several ways you can use Mozilla code in your own
              project. Find everything you need to develop &quot;powered
              by Mozilla&quot; applications.
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/En/Debugging" rel="bookmark">Debugging</a></h4>
            <p class="entry-summary">
              Mozilla developers have come up with not just technologies
              and features to help you debug code, but have devised tips and
              techniques that can help too.
            </p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/en/Localization" rel="bookmark">Localization</a></h4>
            <p class="entry-summary">
              Localization (L10n) is the process of translating software user
              interfaces from one language to another and adapting it to suit
              a foreign culture. These resources are about making Mozilla-based
              applications/extensions localizable.
            </p>
          </li>
        </ul>
        <p class="all"><a href="https://developer.mozilla.org/En/Participating_in_the_Mozilla_project" class="go">All applications development documentation</a></p>
      </div>

      <div id="fave-tools">
        <header class="subhead">
          <h3>Favorite <span class="apps">Applications</span> Tools</h3>
        </header>
        <ul class="tools">
          <li>
            <h4><a href="https://bugzilla.mozilla.org/">Bugzilla <img src="{{ MEDIA_URL }}img/icn-tool-bugzilla.png" alt="" width="65" /></a></h4>
            <p class="desc">The main issue-tracker for Mozilla projects.</p>
          </li>
          <li>
            <h4><a href="http://mxr.mozilla.org/">MXR <img src="{{ MEDIA_URL }}img/icn-tool-mozilla.png" alt="" width="65" /></a></h4>
            <p class="desc">A Mozilla source tree browser.</p>
          </li>
          <li class="all"><a href="https://developer.mozilla.org/En/Participating_in_the_Mozilla_project" class="go">All application development tools</a></li>
        </ul>
      </div>
      
      <div id="recent-news">
        <header class="subhead">
          <h3>Recent <span class="apps">Applications</span> News &amp; Updates</h3>
        </header>

        {{ newsfeed(updates) }}

        <p class="all"><a href="http://blog.mozilla.com/about_mozilla/archives/" class="go">All application development entries</a></p>
      </div>
    </section><!-- /.boxed -->
    
  </section><!-- /#content-main -->
  
  <aside id="content-sub" role="complementary">
  
    {{ twitter(tweets, title=_('Correspondence on Twitter from the Applications developer community.')) }}

  {# TODO trends and such
    <div class="module" id="section-trends">
      <h3 class="mod-title"><span class="apps">Application</span> Developer Trends</h3>
      <p class="mod-intro">Up to date trends and popular content based on number of tags on a given entry/doc/tool. Alphabetical order.</p>
      <ol class="heat-graph">
        <li><span style="width:50%;"><a href="#">Accessory <b>50</b></a></span></li>
        <li><span style="width:80%;"><a href="#">Concept <b>80</b></a></span></li>
        <li><span style="width:100%;"><a href="#">CSS <b>100</b></a></span></li>
        <li><span style="width:6%;"><a href="#">iPad <b>6</b></a></span></li>
        <li><span style="width:17%;"><a href="#">iPhone <b>17</b></a></span></li>
        <li><span style="width:94%;"><a href="#">HTML <b>94</b></a></span></li>
        <li><span style="width:33%;"><a href="#">Operator <b>33</b></a></span></li>
        <li><span style="width:24%;"><a href="#">Prism <b>24</b></a></span></li>
        <li><span style="width:66%;"><a href="#">Property <b>66</b></a></span></li>
        <li><span style="width:10%;"><a href="#">Prototype <b>10</b></a></span></li>
      </ol>
    </div><!-- /trends -->
  
    <div class="module" id="help">
      <h3>Help Us.</h3>
      <p>Help write, edit, review, and translate our documentation:</p>
      <p><a href="#" class="go">Get started today!</a></p>
    </div>
  
    <div class="module" id="active">
      <h3 class="mod-title">Active <span class="apps">Application</span> Developers</h3>
      <ol class="gallery">
        <li><a href="#" title="Leia Organa"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Leia Organa" width="32" height="32" /></a></li>
        <li><a href="#" title="Han Solo"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Han Solo" width="32" height="32" /></a></li>
        <li><a href="#" title="Obi-Wan Kenobi"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Obi-Wan Kenobi" width="32" height="32" /></a></li>
        <li><a href="#" title="Lando Calrissian"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Lando Calrissian" width="32" height="32" /></a></li>
        <li><a href="#" title="Boba Fett"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Boba Fett" width="32" height="32" /></a></li>
        <li><a href="#" title="Darth Vader"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Darth Vader" width="32" height="32" /></a></li>
        <li><a href="#" title="Luke Skywalker"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Luke Skywalker" width="32" height="32" /></a></li>
        <li><a href="#" title="Yoda"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Yoda" width="32" height="32" /></a></li>
      </ol>
    </div>
    
    <form class="module" id="contact" method="post" action="#">
      <h3 class="mod-title">Got some feedback or ideas you want to share?</h3>
      <p class="mod-intro">Drop us a line and let us know what&#8217;s on your mind.</p>
      <fieldset>
        <ol>
          <li><label for="contact-name">Name</label> <input type="text" id="contact-name" name="name" /></li>
          <li><label for="contact-email">Email</label> <input type="text" id="contact-email" name="email" /></li>
          <li><label for="contact-message">Feedback</label> <textarea id="contact-message" name="message" rows="10" cols="20"></textarea></li>
          <li class="fm-submit"><button type="submit">Submit</button></li>
        </ol>
      </fieldset>
    </form>
    #}
  </aside><!-- /#content-sub -->

</div>
</section><!-- /#content -->

{# TODO forums and comments
<section id="content-latest">
<div class="wrap">
  
  <div id="latest-forums" class="boxed">
    <header>
      <h3>Latest <span class="apps">Applications</span> Discussions from Our Forums:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident labore et dolore magna&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in commodo ipsum reprehenderit in voluptate ipsum dolor sit amet, consectetur adipisicing elit velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
    </ul>
  </div>
  
  <div id="latest-comments" class="boxed">
    <header>
      <h3>Latest <span class="apps">Applications</span> Comments from Our Community:</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
    </ul>
  </div>
    
</div>
</section>
#}
{% endblock %}
