{% extends "base.html" %}

{% block pageid %}docs{% endblock %}

{% block bodyclass %}section-docs landing{% endblock %}

{% block title %}{{ page_title(_('Docs')) }}{% endblock %}

{% block content %}
<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">
    <form id="doc-search" method="get" action="#">
      <p>
        <input type="text" id="q-docs" name="q-docs" placeholder="Search MDN Documentation"> 
        <select id="doc-filter" name="filter">
          <option value="" selected="selected" disabled="disabled">Filter by tag&hellip;</option>
          <option>Option</option>
          <option>Option</option>
        </select>
        <button type="submit">Search</button>
      </p>
    </form>
  
    <section class="section-intro boxed">
      <header class="head">
        <img src="{{ MEDIA_URL }}img/icn-web-med.png" alt="" width="58" height="58" />
        <h2>Popular Topics for <span class="web">Web</span> Developers</h2>
        <p>List of main documentation topics for web developers summary goes here.</p>
      </header>
      <ul id="doc-topics">
        <li>
          <h3><a href="https://developer.mozilla.org/en/HTML">HTML</a></h3>
          <p>HyperText Markup Language, the core language of the web.</p>
        </li>
        <li>
          <h3><a href="https://developer.mozilla.org/en/HTML/HTML5">HTML5</a></h3>
          <p>The next generation of HTML, HTML5 adds powerful new capabilities for web sites and web applications.</p>
        </li>
        <li>
          <h3><a href="https://developer.mozilla.org/en/JavaScript">JavaScript</a></h3>
          <p>The scripting language that powers modern web applications.</p>
        </li>
        <li>
          <h3><a href="https://developer.mozilla.org/en/CSS">CSS</a></h3>
          <p>Cascading Style Sheets provide advanced layout and formatting of web content.</p>
        </li>
        <li>
          <h3><a href="https://developer.mozilla.org/en/DOM">DOM</a></h3>
          <p>The Document Object Model describes the structure and content of web pages.</p>
        </li>
        <li>
          <h3><a href="https://developer.mozilla.org/en/AJAX">AJAX</a></h3>
          <p>“Asynchronous JavaScript and XML” is a term that describes the use of all these technologies together to create powerful web applications.</p>
        </li>
      </ul>
      
      <header class="subhead">
        <h2>Technology Glossary for <span class="web">Web</span> Developers</h2>
        <p>A comprehensive list of terms to assist web developers copy goes here.</p>
      </header>
      <ul id="glossary">
        <li>
          <h3><a href="#">Occaecat cupidatat non proident</a></h3>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li><a href="https://developer.mozilla.org/en/HTML">HTML</a></li>
            <li><a href="https://developer.mozilla.org/en/CSS">CSS</a></li>
            <li><a href="https://developer.mozilla.org/en/JavaScript">JavaScript</a></li>
            <li><a href="https://developer.mozilla.org/en/HTML/HTML5">HTML5</a></li>
            <li><a href="https://developer.mozilla.org/en/DOM">DOM</a></li>
            <li><a href="https://developer.mozilla.org/En/SVG">SVG</a></li>
            <li><a href="https://developer.mozilla.org/en/HTML/Element/canvas">Canvas</a></li>
            <li><a href="https://developer.mozilla.org/en/AJAX">AJAX</a></li>
            <li><a href="https://developer.mozilla.org/En/CSS/Media_queries">Media Queries</a></li>
            <li><a href="https://developer.mozilla.org/en/WebGL">WebGL</a></li>
            <li><a href="https://developer.mozilla.org/en/Storage">Web Storage</a></li>
            <li><a href="https://developer.mozilla.org/En/Using_audio_and_video_in_Firefox">Audio</a></li>
            <li><a href="https://developer.mozilla.org/En/Using_audio_and_video_in_Firefox">Video</a></li>
            <li><a href="https://developer.mozilla.org/En/Using_web_workers">Web Workers</a></li>
            <li><a href="https://developer.mozilla.org/en/Using_files_from_web_applications">Files</a></li>
            <li><a href="https://developer.mozilla.org/En/DragDrop/Drag_and_Drop">Drag and Drop</a></li>
            <li><a href="https://developer.mozilla.org/En/CSS/Using_CSS_transforms">CSS Transforms</a></li>
            <li><a href="https://developer.mozilla.org/en/Using_gradients">CSS Gradients</a></li>
            <li><a href="https://developer.mozilla.org/en/Security">Security</a></li>
            <li><a href="https://developer.mozilla.org/en/IndexedDB">IndexedDB</a></li>
          </ul>
        </li>
      </ul>
    </section><!-- /.section-intro -->
    
    <section id="other-sections">
      <header>
        <h3>Get involved in the <a href="#" class="mobile">Mobile</a>, <a href="#" class="addons">Add-ons</a> &amp; <a href="#" class="apps">Applications</a> Developer Communities:</h3>
        <p>Leads to the different section dashboards summary goes here</p>
      </header>
      <div class="boxed">
        <div class="section">
          <h4><a href="#" class="mobile"><img src="{{ MEDIA_URL }}img/icn-mobile-sm.png" alt="" width="44" height="44" /> Mobile</a></h4>
          <ul>
            <li><a href="https://developer.mozilla.org/en/Mobile">Firefox Mobile for developers</a></li>
            <li><a href="https://developer.mozilla.org/en/Detecting_device_orientation">Detecting device orientation</a></li>
            <li><a href="https://developer.mozilla.org/En/Using_geolocation">Using geolocation</a></li>
          </ul>
          <p class="lead">Quick Links to <a href="{{ url('mobile') }}">Mobile</a> Dashboard Content.</p>
        </div>
        <div class="section">
          <h4><a href="#" class="addons"><img src="{{ MEDIA_URL }}img/icn-addons-sm.png" alt="" width="44" height="44" /> Add-ons</a></h4>
          <ul>
            <li><a href="https://addons.mozilla.org/en-US/developers/">AMO Developer Hub</a></li>
            <li><a href="https://developer.mozilla.org/en/Extensions">Extensions</a></li>
            <li><a href="https://developer.mozilla.org/en/Plugins">Plugins</a></li>
            <li><a href="https://developer.mozilla.org/en/Jetpack">Jetpack</a></li>
            <li><a href="https://developer.mozilla.org/en/Themes">Themes</a></li>
            <li><a href="https://developer.mozilla.org/en/Creating_OpenSearch_plugins_for_Firefox">Search engine plugins</a></li>
          </ul>
          <p class="lead">Quick Links to <a href="{{ url('addons') }}">Add-ons</a> Dashboard Content.</p>
        </div>
        <div class="section">
          <h4><a href="#" class="apps"><img src="{{ MEDIA_URL }}img/icn-apps-sm.png" alt="" width="44" height="44" /> Applications</a></h4>
          <ul>
            <li><a href="https://developer.mozilla.org/En/Participating_in_the_Mozilla_project">Participating in the Mozilla project</a></li>
            <li><a href="https://developer.mozilla.org/En/Using_Mozilla_code_in_other_projects">Using Mozilla code in other projects</a></li>
            <li><a href="https://developer.mozilla.org/en/Localization">Localization</a></li>
            <li><a href="https://developer.mozilla.org/en/QA">Quality Assurance</a></li> 
          </ul>
          <p class="lead">Quick Links to <a href="{{ url('apps') }}">Applications</a> Dashboard Content.</p>
        </div>
      </div>
    </section>
  </section><!-- /#content-main -->
  
  <aside id="content-sub" role="complementary">

    <div class="module" id="top-contribs">
      <h3 class="mod-title">Top Docs Contributors</h3>
      <ol class="gallery">
        <li><a href="#" title="Leia Organa"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Leia Organa" width="32" height="32" /></a></li>
        <li><a href="#" title="Han Solo"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Han Solo" width="32" height="32" /></a></li>
        <li><a href="#" title="Obi-Wan Kenobi"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Obi-Wan Kenobi" width="32" height="32" /></a></li>
        <li><a href="#" title="Lando Calrissian"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Lando Calrissian" width="32" height="32" /></a></li>
        <li><a href="#" title="Boba Fett"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Boba Fett" width="32" height="32" /></a></li>
        <li><a href="#" title="Darth Vader"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Darth Vader" width="32" height="32" /></a></li>
        <li><a href="#" title="Luke Skywalker"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Luke Skywalker" width="32" height="32" /></a></li>
        <li><a href="#" title="Yoda"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Yoda" width="32" height="32" /></a></li>
      </ol>
    </div>
    
    <div class="module hot" id="most-active">
      <h3 class="mod-title">Most Active Docs</h3>
      <ul class="hfeed">
        <li class="hentry">
          <h5 class="category"><a href="#" rel="tag" class="apps">Applications</a></h5>
          <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
          <p class="entry-summary">Nam dui mi, tincidunt quis, accumsan porttitor&hellip;</p>
          <p class="entry-meta">Created by: <cite class="author vcard"><a href="#" class="url fn">Jay Patel</a></cite></p>
          <p class="entry-meta">Filed under: <a href="#" rel="tag">Firefox</a>, <a href="#" rel="tag">Thunderbird</a>, <a href="#" rel="tag">Seamonkey</a></p>
        </li>
        <li class="hentry">
          <h5 class="category"><a href="#" rel="tag" class="addons">Add-ons</a></h5>
          <h4 class="entry-title"><a href="#">Fusce pellentesque suscipit nibh</a></h4>
          <p class="entry-summary">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore tincidunt&hellip;</p>
          <p class="entry-meta">Modified by: <cite class="author vcard"><a href="#" class="url fn">Morgamic</a></cite></p>
          <p class="entry-meta">Filed under: <a href="#" rel="tag">Operator</a>, <a href="#" rel="tag">microformats</a></p>
        </li>
      </ul>
    </div>
    
    <div class="module hfeed" id="doc-of-the-day">
      <h3 class="mod-title">Doc Of The Day</h3>
      <div class="hentry">
        <h5 class="category"><a href="#" rel="tag" class="apps">Applications</a></h5>
        <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
        <p class="entry-summary">Nam dui mi, tincidunt quis, accumsan porttitor&hellip;</p>
        <p class="entry-meta">Modified by: <cite class="author vcard"><a href="#" class="url fn">Jay Patel</a></cite> on <abbr class="updated" title="2010-06-07">Monday, June 7, 2010</abbr></p>
        <p class="entry-meta">Filed under: <a href="#" rel="tag">Firefox</a>, <a href="#" rel="tag">Thunderbird</a>, <a href="#" rel="tag">Seamonkey</a></p>
      </div>
    </div>
    
    <div class="module" id="tools">
      <h3 class="mod-title">Tools</h3>
      <p class="mod-intro">Handcrafted by the community. These tools are tailor-made to assist developers everyday.</p>
      <ul>
        <li class="item">
          <h5 class="category"><a href="#" class="addons">Add-ons</a></h5>
          <h4><a href="#"><img src="{{ MEDIA_URL }}img/icn-tool-firebug.png" alt="" width="32" height="32" /> Firebug 1.5.3</a></h4>
          <p class="meta">Created by: <a href="#">Joe Hewitt</a>, <a href="#">johnjbarton</a>, <a href="#">robcee</a>, <a href="#">FirebugWorkingGroup</a></p>
        </li>
        <li class="item">
          <h5 class="category"><a href="#" class="addons">Add-ons</a></h5>
          <h4><a href="#"><img src="{{ MEDIA_URL }}img/icn-tool-devtoolbar.png" alt="" width="32" height="32" /> Web Developer 1.1.8</a></h4>
          <p class="meta">Created by: <a href="#">chrispederick</a></p>
        </li>
      </ul>
    </div>
    
    <div class="module" id="support">
      <h3 class="mod-title">Community Support</h3>
      <ul>
        <li><a href="#" class="support-forums">Developer Forums</a></li>
        <li><a href="#" class="support-tech">Technical Support</a></li>
        <li><a href="#" class="support-news">Support via a Newsreader</a></li>
        <li><a href="#" class="support-groups">Support via Google Groups</a></li>
      </ul>
    </div>

  </aside><!-- /#content-sub -->

</div>
</section><!-- /#content -->

<section id="content-latest">
<div class="wrap">
  
  <div id="latest-forums" class="boxed">
    <header>
      <h3>Latest Discussions from Our Forums:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident labore et dolore magna&hellip;</a> 
        in <a href="#" rel="tag" class="category mobile">Mobile</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a> 
        in <a href="#" rel="tag" class="category apps">Applications</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a> 
        in <a href="#" rel="tag" class="category addons">Add-ons</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in commodo ipsum reprehenderit in voluptate ipsum dolor sit amet, consectetur adipisicing elit velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a> 
        in <a href="#" rel="tag" class="category web">Web</a></p>
      </li>
    </ul>
  </div>
  
  <div id="latest-comments" class="boxed">
    <header>
      <h3>Latest Comments from Our Community:</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a> 
        in <a href="#" rel="tag" class="category apps">Applications</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a> 
        in <a href="#" rel="tag" class="category web">Web</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident&hellip;</a> 
        in <a href="#" rel="tag" class="category mobile">Mobile</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite> 
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a> 
        in <a href="#" rel="tag" class="category addons">Add-ons</a></p>
      </li>
    </ul>
  </div>
    
</div>
</section>
{% endblock %}
