{% extends "base.html" %}

{% block pageid %}mobile{% endblock %}

{% block bodyclass %}section-mobile landing{% endblock %}

{% block title %}{{ page_title(_('Mobile')) }}{% endblock %}

{% block content %}
<header id="section-head">
<div class="wrap">
    <p class="intro">Welcome to the Mobile Developer Community:</p>
    <h1 id="logo-mobile" class="mobile">Mobile</h1>

    <div class="util">
      <p><strong>You took back the Web. Now take it with you.</strong></p>
      <ul>
        <li class="util-twitter"><a href="http://twitter.com/mozmobile">Twitter</a></li>
        <li class="util-rss"><a href="http://planet.firefox.com/mobile/">Subscribe</a></li>
        <li class="util-discuss"><a href="http://mobile.support.mozilla.com/tiki-view_forum.php?locale=en-US&forumId=5">Join the Mobile discussions!</a></li>
      </ul>
    </div>
</div>
</header>

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">

    <section class="boxed">
      <div id="popular-docs">
        <header class="head">
          <img src="{{ MEDIA_URL }}img/icn-mobile-med.png" alt="" width="58" height="58" />
          <h2>Popular <span class="mobile">Mobile</span> Documentation</h2>
        </header>

        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="https://wiki.mozilla.org/mobile">Mobile Wiki</a></h4>
            <p class="entry-summary">See requirements and best practices for running and testing Firefox for mobile.</p>
          </li>
          <li class="hentry">
            <h4 class="entry-title">Build Great Mobile Add-ons</h4>
            <p class="entry-summary">Learn about <a href="https://wiki.mozilla.org/Mobile/Fennec/Extensions">Extension Basics</a>, <a href="https://wiki.mozilla.org/Mobile/Fennec/Extensions/BestPractices">Extension Best Practices</a>, helpful <a href="https://wiki.mozilla.org/Mobile/Fennec/CodeSnippets">Code Snippets</a>, and more.</p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://wiki.mozilla.org/Mobile/DeviceAPIs">Location-Aware Applications</a></h4>
            <p class="entry-summary">Put people on the right path and build Geolocation apps.</p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="http://www.readwriteweb.com/start/2010/01/html5-is-great-for-mobile.php" rel="bookmark">“HTML5 is Great for Mobile, Developers Say”</a></h4>
            <p class="entry-summary"></p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="http://www.developer.com/ws/other/article.php/3883891/Top-10-Android-22-Features-Developers-Cant-Wait-to-Use.htm" rel="bookmark">Top 10 Android 2.2 Features Developers Can’t Wait to Use</a></h4>
            <p class="entry-summary"></p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="http://en.wikipedia.org/wiki/Mobile_application_development" rel="bookmark">General Mobile Application Development Info</a></h4>
            <p class="entry-summary"></p>
          </li>
        </ul>
        <p class="all"><a href="https://developer.mozilla.org/En/Mobile" class="go">All mobile development documentation</a></p>
      </div>

      <div id="recent-news">
        <header class="subhead">
          <h3>Recent <span class="mobile">Mobile</span> News &amp; Updates</h3>
        </header>

        {{ newsfeed(updates) }}

        <p class="all"><a href="http://planet.firefox.com/mobile/" class="go">All mobile development entries</a></p>
      </div>
    </section><!-- /.boxed -->

  </section><!-- /#content-main -->

  <aside id="content-sub" role="complementary">

    {{ twitter(tweets, title=_('Correspondence on Twitter from the Mobile developer community.')) }}

  {# TODO developer trends etc.
    <div class="module" id="section-trends">
      <h3 class="mod-title"><span class="mobile">Mobile</span> Developer Trends</h3>
      <p class="mod-intro">Up to date trends and popular content based on number of tags on a given entry/doc/tool. Alphabetical order.</p>
      <ol class="heat-graph">
        <li><span style="width:50%;"><a href="#">Accessory <b>50</b></a></span></li>
        <li><span style="width:80%;"><a href="#">Concept <b>80</b></a></span></li>
        <li><span style="width:100%;"><a href="#">CSS <b>100</b></a></span></li>
        <li><span style="width:6%;"><a href="#">iPad <b>6</b></a></span></li>
        <li><span style="width:17%;"><a href="#">iPhone <b>17</b></a></span></li>
        <li><span style="width:94%;"><a href="#">HTML <b>94</b></a></span></li>
        <li><span style="width:33%;"><a href="#">Operator <b>33</b></a></span></li>
        <li><span style="width:24%;"><a href="#">Prism <b>24</b></a></span></li>
        <li><span style="width:66%;"><a href="#">Property <b>66</b></a></span></li>
        <li><span style="width:10%;"><a href="#">Prototype <b>10</b></a></span></li>
      </ol>
    </div><!-- /trends -->

    <div class="module" id="help">
      <h3>Help Us.</h3>
      <p>Help write, edit, review, and translate our documentation:</p>
      <p><a href="#" class="go">Get started today!</a></p>
    </div>

    <div class="module" id="active">
      <h3 class="mod-title">Active <span class="mobile">Mobile</span> Developers</h3>
      <ol class="gallery">
        <li><a href="#" title="Leia Organa"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Leia Organa" width="32" height="32" /></a></li>
        <li><a href="#" title="Han Solo"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Han Solo" width="32" height="32" /></a></li>
        <li><a href="#" title="Obi-Wan Kenobi"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Obi-Wan Kenobi" width="32" height="32" /></a></li>
        <li><a href="#" title="Lando Calrissian"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Lando Calrissian" width="32" height="32" /></a></li>
        <li><a href="#" title="Boba Fett"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Boba Fett" width="32" height="32" /></a></li>
        <li><a href="#" title="Darth Vader"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Darth Vader" width="32" height="32" /></a></li>
        <li><a href="#" title="Luke Skywalker"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Luke Skywalker" width="32" height="32" /></a></li>
        <li><a href="#" title="Yoda"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Yoda" width="32" height="32" /></a></li>
      </ol>
    </div>

    <form class="module" id="contact" method="post" action="#">
      <h3 class="mod-title">Got some feedback or ideas you want to share?</h3>
      <p class="mod-intro">Drop us a line and let us know what&#8217;s on your mind.</p>
      <fieldset>
        <ol>
          <li><label for="contact-name">Name</label> <input type="text" id="contact-name" name="name" /></li>
          <li><label for="contact-email">Email</label> <input type="text" id="contact-email" name="email" /></li>
          <li><label for="contact-message">Feedback</label> <textarea id="contact-message" name="message" rows="10" cols="20"></textarea></li>
          <li class="fm-submit"><button type="submit">Submit</button></li>
        </ol>
      </fieldset>
    </form>
    #}

  </aside><!-- /#content-sub -->

</div>
</section><!-- /#content -->

{# TODO latest forum discussions feed, latest community comments
<section id="content-latest">
<div class="wrap">

  <div id="latest-forums" class="boxed">
    <header>
      <h3>Latest <span class="mobile">Mobile</span> Discussions from Our Forums:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident labore et dolore magna&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in commodo ipsum reprehenderit in voluptate ipsum dolor sit amet, consectetur adipisicing elit velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
    </ul>
  </div>

  <div id="latest-comments" class="boxed">
    <header>
      <h3>Latest <span class="mobile">Mobile</span> Comments from Our Community:</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
    </ul>
  </div>

</div>
</section>
#}
{% endblock %}
