{% extends "base.html" %}

{% block pageid %}docs{% endblock %}

{% block bodyclass %}section-docs landing{% endblock %}

{% block title %}{{ page_title(_('Search Results')) }}{% endblock %}

{% block content %}
<section id="content" class="sidebar">
<div class="wrap">
  <section id="content-main" role="main">
    <h1 class="page-title">{{ _('Search Results') }}</h1>

    <div id="cse-search-results"></div>
    <script type="text/javascript">
      var googleSearchIframeName = "cse-search-results";
      var googleSearchFormName = "cse-search-box";
      var googleSearchFrameWidth = 600;
      var googleSearchDomain = "www.google.com";
      var googleSearchPath = "/cse";
    </script>
    <script type="text/javascript" src="//www.google.com/afsonline/show_afs_search.js"></script>

  </section><!-- /#content-main -->
</div>
</section><!-- /#content -->
{% endblock %}
