{% extends "base.html" %}

{% block pageid %}web{% endblock %}

{% block bodyclass %}section-web landing{% endblock %}

{% block title %}{{ page_title(_('Web')) }}{% endblock %}

{% block content %}
<header id="section-head">
<div class="wrap">
    <p class="intro">Welcome to the Web Developer Community:</p>
    <h1 id="logo-web" class="web">Web</h1>

    <div class="util">
      <p><strong>Develop for an open and participatory Web.</strong></p>
      <ul>
        <li class="util-twitter"><a href="http://twitter.com/mozhacks">Twitter</a></li>
        <li class="util-rss"><a href="http://hacks.mozilla.org/feed/">Subscribe</a></li>
        {# TODO link to discussion forum.
        <li class="util-discuss"><a href="#">Join the Web discussions!</a></li>
        #}
      </ul>
    </div>
</div>
</header>

<section id="content">
<div class="wrap sidebar">
  <section id="content-main" role="main">

    <section class="boxed">
      <div id="popular-docs">
        <header class="head">
          <img src="{{ MEDIA_URL }}img/icn-web-med.png" alt="" width="58" height="58" />
          <h2>Popular <span class="web">Web</span> Documentation</h2>
        </header>

        <ul class="hfeed">
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/en/HTML/HTML5" rel="bookmark">HTML5</a></h4>
            <p class="entry-summary">Find out what HTML5 is really all about and how you can develop for a better Web through open standards.</p>
            {#<p class="entry-meta">Modified by: <cite class="author vcard"><a href="#" class="url fn">Han Solo</a></cite> on <abbr class="updated" title="2010-06-07">Monday, June 7, 2010</abbr> and filed under: <a href="#" rel="tag">CSS3</a>, <a href="#" rel="tag">HTML5</a></p>#}
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/en/JavaScript" rel="bookmark">JavaScript</a></h4>
            <p class="entry-summary">A great resource for anyone working with JS.</p>
          </li>
          <li class="hentry">
            <h4 class="entry-title"><a href="https://developer.mozilla.org/en/CSS" rel="bookmark">CSS</a></h4>
            <p class="entry-summary">You’ll find everything you need in the CSS reference and helpful tutorials to build pretty websites.</p>
          </li>
        </ul>
        <p class="all"><a href="https://developer.mozilla.org/en/Web_Development" class="go">All web development documentation</a></p>
      </div>

      <div id="fave-tools">
        <header class="subhead">
          <h3>Favorite <span class="web">Web</span> Developer Tools</h3>
        </header>
        <ul class="tools">
          <li>
            <h4><a href="http://getfirebug.com/">Firebug <img src="{{ MEDIA_URL }}img/icn-tool-firebug.png" alt="" width="65" /></a></h4>
            <p class="desc">The most popular and powerful web development tool.</p>
            <p class="desc"><q>“An absolute necessity for anyone doing serious web development. Awesome!!!!”</q> &ndash; <cite>geckoday via AMO</cite></p>
            {#<p class="meta">Filed under: <a href="#" rel="tag">Category</a>, <a href="#" rel="tag">Category</a></p>#}
          </li>
          <li>
            <h4><a href="https://addons.mozilla.org/en-US/firefox/addon/60/">Web Developer <img src="{{ MEDIA_URL }}img/icn-tool-devtoolbar.png" alt="" width="65" /></a></h4>
            <p class="desc">Firefox Add-on that adds a lot of great developer tools that are just a click away.</p>
          </li>
          <li>
            <h4><a href="http://code.google.com/speed/page-speed/">Page Speed <img src="{{ MEDIA_URL }}img/icn-tool-pagespeed.png" alt="" width="65" /></a></h4>
            <p class="desc">Evaluate performance of web pages with this Firefox/Firebug Add-on</p>
          </li>
          <li>
            <h4><a href="https://addons.mozilla.org/en-US/firefox/addon/6683/">Firecookie <img src="{{ MEDIA_URL }}img/icn-tool-firecookie.png" alt="" width="65" /></a></h4>
            <p class="desc">Another great Firefox/Firebug Add-on that helps you view and manage cookies in your browser.</p>
          </li>
          <li class="all"><a href="https://addons.mozilla.org/{{ LANG }}/firefox/extensions/web-development/" class="go">All web development tools</a></li>
        </ul>
      </div>

      <div id="recent-news">
        <header class="subhead">
          <h3>Recent <span class="web">Web</span> News &amp; Updates</h3>
        </header>

        {{ newsfeed(updates) }}

        <p class="all"><a href="http://hacks.mozilla.org" class="go">All web development entries</a></p>
      </div>
    </section><!-- /.boxed -->

  </section><!-- /#content-main -->

  <aside id="content-sub" role="complementary">

    {{ twitter(tweets) }}

  {# TODO trends
    <div class="module" id="section-trends">
      <h3 class="mod-title"><span class="web">Web</span> Developer Trends</h3>
      <p class="mod-intro">Up to date trends and popular content based on number of tags on a given entry/doc/tool. Alphabetical order.</p>
      <ol class="heat-graph">
        <li><span style="width:50%;"><a href="#">Accessory <b>50</b></a></span></li>
        <li><span style="width:80%;"><a href="#">Concept <b>80</b></a></span></li>
        <li><span style="width:100%;"><a href="#">CSS <b>100</b></a></span></li>
        <li><span style="width:6%;"><a href="#">iPad <b>6</b></a></span></li>
        <li><span style="width:17%;"><a href="#">iPhone <b>17</b></a></span></li>
        <li><span style="width:94%;"><a href="#">HTML <b>94</b></a></span></li>
        <li><span style="width:33%;"><a href="#">Operator <b>33</b></a></span></li>
        <li><span style="width:24%;"><a href="#">Prism <b>24</b></a></span></li>
        <li><span style="width:66%;"><a href="#">Property <b>66</b></a></span></li>
        <li><span style="width:10%;"><a href="#">Prototype <b>10</b></a></span></li>
      </ol>
    </div><!-- /trends -->
    #}

    {# TODO call to action
    <div class="module" id="help">
      <h3>Help Us.</h3>
      <p>Help write, edit, review, and translate our documentation:</p>
      <p><a href="#" class="go">Get started today!</a></p>
    </div>
    #}

    {# TODO webdevs
    <div class="module" id="active">
      <h3 class="mod-title">Active <span class="web">Web</span> Developers</h3>
      <ol class="gallery">
        <li><a href="#" title="Leia Organa"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Leia Organa" width="32" height="32" /></a></li>
        <li><a href="#" title="Han Solo"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Han Solo" width="32" height="32" /></a></li>
        <li><a href="#" title="Obi-Wan Kenobi"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Obi-Wan Kenobi" width="32" height="32" /></a></li>
        <li><a href="#" title="Lando Calrissian"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Lando Calrissian" width="32" height="32" /></a></li>
        <li><a href="#" title="Boba Fett"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Boba Fett" width="32" height="32" /></a></li>
        <li><a href="#" title="Darth Vader"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Darth Vader" width="32" height="32" /></a></li>
        <li><a href="#" title="Luke Skywalker"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Luke Skywalker" width="32" height="32" /></a></li>
        <li><a href="#" title="Yoda"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="Yoda" width="32" height="32" /></a></li>
      </ol>
    </div>
    #}

    {# TODO feedback box
    <form class="module" id="contact" method="post" action="#">
      <h3 class="mod-title">Got some feedback or ideas you want to share?</h3>
      <p class="mod-intro">Drop us a line and let us know what&#8217;s on your mind.</p>
      <fieldset>
        <ol>
          <li><label for="contact-name">Name</label> <input type="text" id="contact-name" name="name" /></li>
          <li><label for="contact-email">Email</label> <input type="text" id="contact-email" name="email" /></li>
          <li><label for="contact-message">Feedback</label> <textarea id="contact-message" name="message" rows="10" cols="20"></textarea></li>
          <li class="fm-submit"><button type="submit">Submit</button></li>
        </ol>
      </fieldset>
    </form>
    #}

  </aside><!-- /#content-sub -->

</div>
</section><!-- /#content -->

{# TODO latest forum discussions feed, latest community comments
<section id="content-latest">
<div class="wrap">

  <div id="latest-forums" class="boxed">
    <header>
      <h3>Latest <span class="web">Web</span> Discussions from Our Forums:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident labore et dolore magna&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in commodo ipsum reprehenderit in voluptate ipsum dolor sit amet, consectetur adipisicing elit velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
    </ul>
  </div>

  <div id="latest-comments" class="boxed">
    <header>
      <h3>Latest <span class="web">Web</span> Comments from Our Community:</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </header>
    <ul class="hfeed">
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Jay Patel</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> morgamic</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Lando Calrissian</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Excepteur sint occaecat cupidatat non proident&hellip;</a></p>
      </li>
      <li class="hentry">
        <cite class="author vcard"><a href="#" class="url fn"><img src="{{ MEDIA_URL }}img/fpo55.png" alt="" class="photo" width="38" height="38" /> Han</a></cite>
        wrote <a href="#" class="entry-summary entry-title">Eiusmod tempor incididunt ut labore et dolore magna aliqua in voluptate velit esse cillum&hellip;</a></p>
      </li>
    </ul>
  </div>

</div>

</section>
#}
{% endblock %}
