{% cache tweet_qs %}
<div class="module" id="mdn-twitter">
  <h3 class="mod-title">MDN on Twitter</h3>
  {% if title %}<p class="mod-intro">{{ title }}</p>{% endif %}
  <ul class="hfeed">
    {% for tweet in tweets %}
    <li class="hentry">
      <h4 class="entry-title vcard">@<a href="http://twitter.com/{{ tweet['nick'] }}" class="author url fn nickname">{{ tweet['nick'] }}</a> from <a href="{{ url(tweet['section'].short) }}" class="category {{ tweet['section'].short }}">{{ tweet['section'].pretty }}</a> says:</h4>
      <p class="entry-content">{{ tweet['status']|cleank }}</p>
      <p class="entry-meta"><a href="{{ tweet['link'] }}" rel="bookmark">{{ tweet['published']|timesince }} ago</a></p>
    </li>
    {% endfor %}
  </ul>
  {#<p id="follow"><a href="#">Follow <b>MDN</b> on Twitter</a></p>#}
</div>
{% endcache %}
